.my-profile {
  padding: 40px 28px;
  background-color: #fff;
}

.my-profile-bd {
  --gap: 2%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 80px;
  gap: var(--gap);
}

.my-profile-item {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-bottom: 40px;
}

.my-profile-item-title {
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.my-profile-item-info {
  color: #212121;
  font-size: 14px;
  padding-top: 7px;
}

.md-edit-button {
  /* margin: 0 auto;s */
  display: block;
  width: 240px;
  background-color: var(--clr-link);
  color: var(--clr-light);
  border-radius: 2px;
  padding: 1.5rem;
  font-size: var(--normal-sm-font);
  transition: all 0.3s ease-in;
  margin-top: 20px;
}

.md-edit-button:hover,
.md-edit-button:active {
  background-color: var(--clr-link-hover);
}

a.link {
  color: #1a9cb7;
  text-decoration: none;
  font-size: var(--normal-xsm-font);
}
