.shop-products-menu {
  flex: 0 1 18.7rem;
  margin: 0 1.2rem 0 0;
  background-color: var(--clr-gray);
}

.shop-cat-menu [data_nmi="menu_ico"] {
  margin-right: 0.625rem;
  font-size: 20px;
}
.shop-cat-menu {
  text-transform: capitalize;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  height: 4.125rem;
  line-height: 4.125rem;
  font-weight: 700;
  font-size: var(--normal-sm-font);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}
.shop-cat-item {
  cursor: pointer;
  user-select: none;
  /* overflow: hidden; */
  display: -webkit-box;
  text-overflow: ellipsis;
  padding: 1rem 0.5rem 1rem 0.5rem;
  line-height: 1.5rem;
  max-height: 4.785rem;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: var(--normal-sm-font);
  font-weight: 900;
}

.shop-cat-item .link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.shop-cat-item-active {
  position: relative;
  color: var(--clr-primary);
  text-decoration: none;
}
.shop-cat-item-active::before {
  content: "\25B8";
  position: absolute;
  right: 100%;
  font-size: inherit;
  color: var(--clr-primary);
}
