.card-details {
  padding: 4px 8px 12px;
  background: var(--clr-light);
  grid-row: 3/5;
  grid-column: 1/2;
}
.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-title .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--normal-sm-font);
  color: var(--clr-secondary);
  margin: 5px 0;
  width: 0;
  min-width: 0;
  flex: 1 1;
}

.hp-price-first-line {
  line-height: 22px;
  font-size: var(--normal-med-font);
  color: var(--clr-primary);
  margin: 5px 0;
}

.card-price-text {
  text-decoration: line-through;
  line-height: 14px;
  color: var(--clr-dark_gray);
  font-size: var(--normal-xsm-font);
}

.card-discount {
  line-height: 14px;
  color: var(--clr-secondary-main);
  font-size: var(--normal-xsm-font);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 2px;
  font-size: var(--normal-xsm-font);
  color: var(--clr-dark_gray);
}

@media (min-width: 800px) {
  .card-details {
    grid-row: 4/6;
  }
}
