.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1031;
  background-color: rgba(0, 0, 0, 0.75);
}

.sidemodal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  inset: 0 0 0 auto;
  width: 50%;
  background-color: white;
  padding: 3rem;
  border-radius: 14px 0 0 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1032;
  overflow: auto;
  animation: slide-down 300ms ease-in-out forwards;
}

@media (min-width: 768px) {
  .sidemodal {
    width: 45rem;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
